/* input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -28px;
  left: -20vw;
  font-size: 11px;
  opacity: 1;
  color: white
}

.inputText {
    font-size: 14px;
  width: 20vw;
  height: 35px;
  color: black;
  padding-left: 4px;
}

.floating-label {
  position: relative;
    pointer-events: none;
    top: 0px;
  left: -19vw;
  transition: 0.5s ease all;
  color: black;
} */
